# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Directories
src\AngularAspCoreTutorial\bin
src\AngularAspCoreTutorial\node_modules
src\AngularAspCoreTutorial\obj
src\AngularAspCoreTutorial\wwwroot\lib
