@{
    ViewData["Title"] = "Requirements";
}


<h1>Requisitos e instalaciones necesarias</h1>

<p>Los siguientes componentes son necesarios para poder continuar con el tutorial.</p>


<h2>Visual Studio 2015</h2>
<p>
    Se necesita tener la actualización 3 de Visual Studio 2015, descargable desde aquí:
    <a href="https://go.microsoft.com/fwlink/?LinkId=691129">Visual Studio 2015 Update 3</a>
</p>
<h2>.NET Core</h2>
<p>
    Descargar e instalar la versión .NET Core 1.0.0 - VS 2015 Tooling Preview 2 desde aquí:
    <a href="https://go.microsoft.com/fwlink/?LinkID=824849">.NET Core 1.0.0 - VS 2015 Tooling Preview 2</a>
</p>

<h2>Node.js y Npm</h2>
<p>
    Descargar e instalar la última versión de Node.js desde aquí:
    <a href="https://nodejs.org/en/">Node.js</a>
    <br/>
</p>
<p>
    La versión utilizada en este tutorial es la v4.5.0 LTS. Para validarlo, ejecutar en consola
    <code>node -v</code>
</p>
<p>
    Node.js incluye una versión de npm, sin embargo, npm se actualiza más frecuentemente que Node.js.
    Ejecutamos lo siguiente en una consola para asegurarnos tener la última versión
    <code>npm install npm -g</code>
</p>
<p>
    Esta versión debe ser mayor a la 2.1.8, para validar ejecutamos en consola
    <code>npm -v</code>
</p>

<h2>Extensiones de Visual Studio 2015</h2>
<p>
    Se debe de contar con las siguientes extensiones instaladas en Visual Studio 2015.
</p>
<p>
    Para instalar, vamos a <code>Tools->Extensions And Updates</code>
</p>
<p>
    Asegurarnos de contar con las siguientes extensiones:
    <ul>
        <li>Microsoft ASP.Net and Web Tools</li>
        <li>Microsoft ASP.Net Web Frameworks and Tools</li>
        <li>Microsoft Azure App Service Tools</li>
        <li>NPM Task Runner</li>
        <li>Nuget Package Manager for Visual Studio 2015</li>
    </ul>
</p>
<p>
    <img src="/images/extensions1.png" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
    <img src="/images/extensions2.png" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail">
</p>

