<div class="row">
    <div class="col-sm-12">
        <div class="well well-lg">
            <h3>Navegación</h3>
            <ul>
                <li><a asp-controller="Tutorial" asp-action="Requirements">Requisitos e instalaciones necesarias</a></li>
                <li><a asp-controller="Tutorial" asp-action="CreateNewProject">Creación de Proyecto Nuevo</a></li>
            </ul>
        </div>
    </div>
</div>